---
import Seo from "../components/Seo.astro";
import { Image } from "astro:assets";
import imgimages_gaiact_logo_webp from "../../public/images/gaiact_logo.webp";
import imgimages_gaiact_hamburger_menu_icon_webp from "../../public/images/gaiact-hamburger-menu-icon.webp";
import imgimages_gaiac_hero_cloud_webp from "../../public/images/gaiac_hero_cloud.webp";
import imgimages_reseau_affaires_entreprises_durables_webp from "../../public/images/reseau-affaires-entreprises-durables.webp";
import imgimages_gaiact_event_1_webp from "../../public/images/gaiact_event_1.webp";
import imgimages_gaiact_cal_logo_webp from "../../public/images/gaiact_cal_logo.webp";
import imgimages_gaiact_time_logo_webp from "../../public/images/gaiact_time_logo.webp";
import imgimages_gaiact_event_2_webp from "../../public/images/gaiact_event_2.webp";
import imgimages_gaiact_event_3_webp from "../../public/images/gaiact_event_3.webp";
import imgimages_gaiact_business_eco_webp from "../../public/images/gaiact_business_eco.webp";
import imgimages_gaiact_transition_goals_webp from "../../public/images/gaiact_transition_goals.webp";
import imgimages_gaiact_instagram_icon_webp from "../../public/images/gaiact_instagram_icon.webp";
import imgimages_gaiact_linkedin_icon_webp from "../../public/images/gaiact_linkedin_icon.webp";
import imgimages_gaiact_send_icon_webp from "../../public/images/gaiact_send_icon.webp";
import imgimages_gaiact_left_footer_bg_webp from "../../public/images/gaiact-left-footer-bg.webp";
import imgimages_gaiact_right_footer_bg_webp from "../../public/images/gaiact-right-footer-bg.webp";
import '../styles/global.css';
---

<html lang="en">
	<head>
		
        <script>
        import { showToast } from "../components/toast";
        (() => {
          const els = [...document.querySelectorAll('form')];
          if (!els?.length) return;
          els.forEach(el => {
            el.addEventListener('submit', async (e) => {
              e.preventDefault();
              const formData = new FormData(e.target);
              const formObject = Object.fromEntries(formData);
              formObject.emailUser = "quangnhat249@gmail.com";
              try {
                const response = await fetch('undefined/api/send-mail-contact', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(formObject)
                });
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                const result = await response.json();
                showToast('Form submitted successfully!');
              } catch (error) {
                console.error('Error submitting form:', error);
                showToast('Error submitting form', 'error');
              }
            });
          });
        })();
      </script>
      <script>
      class LazyLoad extends HTMLElement {
        constructor() {
          super();
          class HeadlessDetect {
            allTestFunctions = [
              "testUserAgent",
              "testChromeWindow",
              "testPlugins",
              "testAppVersion",
              "testConnectionRtt",
            ];

            constructor() {}

            testUserAgent() {
              if (/Headless/.test(window.navigator.userAgent)) {
                return 1;
              } else {
                return 0;
              }
            }

            testChromeWindow() {
              // @ts-ignore
              if (eval.toString().length == 33 && !window.chrome) {
                return 1;
              } else {
                return 0;
              }
            }

            testNotificationPermissions(callback) {
              navigator.permissions
                .query({ name: "notifications" })
                .then(function (permissionStatus) {
                  if (
                    Notification.permission === "denied" &&
                    permissionStatus.state === "prompt"
                  ) {
                    // Headless
                    callback(1);
                  } else {
                    // Not Headless
                    callback(0);
                  }
                });
            }

            testPlugins() {
              let length = navigator.plugins.length;

              return length === 0 ? 1 : 0;
            }

            testAppVersion() {
              let appVersion = navigator.appVersion;

              return /headless/i.test(appVersion) ? 1 : 0;
            }

            // Connection Rtt
            testConnectionRtt() {
              // @ts-ignore
              let connection = navigator.connection;
              let connectionRtt = connection ? connection.rtt : undefined;

              if (connectionRtt === undefined) {
                return 0;
              } else {
                return connectionRtt === 0 ? 1 : 0;
              }
            }

            getHeadlessScore() {
              let score = 0;
              let testsRun = 0;

              this.testNotificationPermissions(function (v) {
                score += v;
                testsRun++;
              });

              for (let i = 0; i < this.allTestFunctions.length; i++) {
                score += this[this.allTestFunctions[i]].apply();
                testsRun++;
              }

              return score / testsRun;
            }
          }
          const headlessDetector = new HeadlessDetect();
          if (headlessDetector.getHeadlessScore() > 0.25) {
            while (this.firstChild) {
              this.removeChild(this.firstChild);
            }
          }
        }
      }

      customElements.define("lazy-load", LazyLoad);
    </script>
        <Seo seo={{ title: "EcoBuilder", description: "Page description", keywords: "", canonical: "", image: '', type: "website", themeColor: "#ffffff"}} />
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href=/favicons/1744444127008_img-placeholder.ico /> 
		<!-- <link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/> -->
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body> <header class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-[&#x27;Header&#x27;] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] header-section"><section class="header-component flex flex-col overflow-hidden bg-[#102d2e] text-white" role="banner" aria-label="Header section with Gaiact branding"><div class="max-md:px-5 max-md:max-w-full px-4 py-4 sm:px-6 lg:px-8"><div class="mx-auto max-w-screen-2xl"><div class="header-component flex flex-wrap justify-between gap-10 border-b border-teal-950 bg-[#0F2D2E] font-bold"><a href="#" width="auto" height="auto" class="shrink-0" aria-label="Homepage"><Image alt="Gaiact Company Logo" src={imgimages_gaiact_logo_webp} width="400" height="300" class="w-[80px] h-[23px] lg:w-[184px] lg:h-[54px] object-cover max-w-full " loading="lazy" aria-label="Gaiact company logo" /></a><nav class="max-md:hidden my-auto hidden items-center gap-8 whitespace-nowrap text-base leading-none text-white lg:flex" aria-label="Main navigation menu"><a href="/" width="auto" height="auto" class="my-auto self-stretch hover:text-lime-500 " aria-label="Navigate to Accueil">Accueil</a><a href="#" width="auto" height="auto" class="my-auto self-stretch hover:text-lime-500 " aria-label="Navigate to Évènements">Évènements</a><a href="/gaiact" width="auto" height="auto" class="my-auto self-stretch hover:text-lime-500 " aria-label="Navigate to Gaïact">Gaïact</a><a href="#" width="auto" height="auto" class="my-auto self-stretch hover:text-lime-500 " aria-label="Navigate to Média">Média</a><a href="/contact" width="auto" height="auto" class="my-auto self-stretch hover:text-lime-500 " aria-label="Navigate to Contact">Contact</a></nav><div class="max-md:hidden mt-1 hidden flex-wrap items-start gap-5 self-start text-xl leading-snug lg:flex"><button width="auto" height="auto" class="max-md:px-5 gap-2.5 self-stretch overflow-hidden rounded-xl bg-[#AEC90C] px-12 py-2.5 text-[#042f2e] hover:bg-lime-400 transition" aria-label="Join us to be part of Gaiact">Nous rejoindre</button><button width="auto" height="auto" class="max-md:px-5 gap-2.5 self-stretch overflow-hidden rounded-xl border border-solid border-[#AEC90C] bg-[#AEC90C] bg-opacity-0 hover:bg-opacity-100 px-12 py-2.5 text-[#AEC90C] hover:text-[#042f2e] transition" aria-label="Become a member of Gaiact">Devenir membre</button></div><div class="flex items-center lg:hidden"><button width="auto" height="auto" class="flex flex-col gap-1 items-center justify-center focus:outline-none lg:hidden" aria-label="Toggle mobile menu visibility" aria-expanded="false" aria-controls="mobileNav"><Image alt="Menu icon" src={imgimages_gaiact_hamburger_menu_icon_webp} width="400" height="300" class="h-6 w-6" /></button></div></div></div></div></section></header><main class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-[&#x27;Main&#x27;] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] main-section"><section class="main-component flex overflow-hidden flex-col text-white bg-[#0F2D2E]" aria-label="Hero Gaiact Section"><div class="py-10 block relative" aria-label="Wrapper for Hero Gaiact Section"><div class="absolute -top-10 flex justify-end right-0 lg:top-[36px]" aria-label="Container for Hero Gaiact Image" style="z-index:3"><Image alt="Business network illustration" src={imgimages_gaiac_hero_cloud_webp} width="401" height="203" class=" z-3 w-[235px] lg:w-[401px] md:w-[345px]" cssImageWrapper="lg:mx-0 lg:w-full" cssResizer="!flex-shrink z-3" aria-label="Illustration for business network" /></div><div class="max-w-screen-2xl block lg:flex items-center mx-auto" aria-label="Container for Hero Gaiact Section"><section class="px-4 sm:px-6 lg:px-8 max-md:px-5 max-md:max-w-full flex flex-col items-start gap-10 max-w-full lg:w-[791px] max-md:w-full max-md:min-h-0 max-sm:w-full relative z-20" aria-label="Content Section of Hero Gaiact"><h1 width="auto" height="auto" class="self-stretch font-bold max-w-full text-[32px] leading-normal text-white lg:text-[56px] lg:leading-tight lg:text-[rgb(255,_105,_0)]" aria-label="Main heading of Hero Gaiact Section">Edited content</h1><p width="auto" height="auto" class="text-white self-stretch text-2xl leading-10 max-md:max-w-full max-sm:text-xl max-sm:leading-8" aria-label="Description of Hero Gaiact Section">Connectez-vous avec des entreprises engagées, découvrez des opportunités de collaboration et boostez votre impact écologique et social.</p><button width="auto" height="auto" class="w-fit gap-2.5 self-stretch px-12 py-2.5 text-xl leading-snug bg-[#AEC90C] rounded-xl text-[#042f2e] max-sm:py-2 max-sm:text-lg font-semibold" aria-label="Button to join Hero Gaiact network">Nous rejoindre</button></section><div class="lg:max-w-[715px] lg:min-w-[715px] lg:h-[calc(100%_-_80px)] w-full relative lg:absolute right-0 flex justify-center lg:justify-end z-0" aria-label="Image container for Hero Gaiact Section"><Image alt="Business network illustration" src={imgimages_reseau_affaires_entreprises_durables_webp} width="665" height="487" class="lg:w-[661px] h-auto w-full lg:h-full z-0" cssImageWrapper="lg:w-full" cssResizer="!flex-shrink" aria-label="Illustration for business network" /></div></div></div><div class="main-component flex flex-col overflow-hidden bg-[#0F2D2E] text-white"><div class="max-md:px-5 max-md:max-w-full px-4 py-12 sm:px-6 lg:px-8"><div class="mx-auto max-w-screen-2xl"><div class="lg:pb-8 md:pb-8 pb-4"><div class="mx-auto px-4"><h2 width="auto" height="auto" class="self-center text-2xl lg:text-[44px] lg:leading-[60px] font-bold text-center text-white max-md:max-w-full" aria-label="Hero Section Title">Rencontrez des acteurs engagés pour impulser la transition de votre business</h2></div></div><div class="grid grid-cols-1 lg:grid-cols-3 gap-6"><div><div class="flex overflow-hidden flex-col items-start pb-4 lg:pb-8 mx-auto w-full text-xl font-bold text-white border-2 hover:border-lime-500 border-solid bg-zinc-600 bg-opacity-30 rounded-[32px] max-md:mt-7 flex-grow lg:min-h-[477px] lg:h-full" aria-labelledby="eventCardTitle"><Image alt="Default alt" src={imgimages_gaiact_event_1_webp} width="400" height="300" class="object-cover w-full" /><div class="flex flex-col justify-start mx-4 lg:mx-6 mb-6"><h4 width="auto" height="auto" class="mt-0" aria-label="Event Title" cssResizer="!flex-shrink mt-6">Soirées de réseautage immersives</h4><div class="flex gap-2.5 items-s mt-3.5" aria-label="Event Date"><Image alt="Date Icon" src={imgimages_gaiact_cal_logo_webp} width="400" height="300" class="object-contain shrink-0 self-stretch my-auto w-6 rounded-md aspect-square" /><p width="auto" height="auto" class="self-stretch my-auto rounded-none break-words font-thin">Chaque 2ème jeudi du mois</p></div><div class="flex gap-2.5 items-center mt-3.5" aria-label="Event Time"><Image alt="Time Icon" src={imgimages_gaiact_time_logo_webp} width="400" height="300" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" /><p width="auto" height="auto" class="self-stretch my-auto rounded-none font-thin">De 18h30 à 21h</p></div></div><div class="mx-6"><button width="auto" height="auto" class="px-16 py-4 leading-none text-center whitespace-nowrap bg-lime-500 rounded-3xl text-[#042f2e] max-md:px-5 " cssResizer="!flex-shrink" aria-label="Call to Action Button">Participer</button></div></div></div><div><div class="flex overflow-hidden flex-col items-start pb-4 lg:pb-8 mx-auto w-full text-xl font-bold text-white border-2 hover:border-lime-500 border-solid bg-zinc-600 bg-opacity-30 rounded-[32px] max-md:mt-7 flex-grow lg:min-h-[477px] lg:h-full" aria-labelledby="eventCardTitle"><Image alt="Default alt" src={imgimages_gaiact_event_2_webp} width="400" height="300" class="object-cover w-full" /><div class="flex flex-col justify-start mx-4 lg:mx-6 mb-6"><h4 width="auto" height="auto" class="mt-0" aria-label="Event Title" cssResizer="!flex-shrink mt-6">Webinaires</h4><div class="flex gap-2.5 items-s mt-3.5" aria-label="Event Date"><Image alt="Date Icon" src={imgimages_gaiact_cal_logo_webp} width="400" height="300" class="object-contain shrink-0 self-stretch my-auto w-6 rounded-md aspect-square" /><p width="auto" height="auto" class="self-stretch my-auto rounded-none break-words font-thin">Un mardi par mois</p></div><div class="flex gap-2.5 items-center mt-3.5" aria-label="Event Time"><Image alt="Time Icon" src={imgimages_gaiact_time_logo_webp} width="400" height="300" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" /><p width="auto" height="auto" class="self-stretch my-auto rounded-none font-thin">De 12h à 13h</p></div></div><div class="mx-6"><button width="auto" height="auto" class="px-16 py-4 leading-none text-center whitespace-nowrap bg-lime-500 rounded-3xl text-[#042f2e] max-md:px-5 " cssResizer="!flex-shrink" aria-label="Call to Action Button">S&#x27;inscrire</button></div></div></div><div><div class="flex overflow-hidden flex-col items-start pb-4 lg:pb-8 mx-auto w-full text-xl font-bold text-white border-2 hover:border-lime-500 border-solid bg-zinc-600 bg-opacity-30 rounded-[32px] max-md:mt-7 flex-grow lg:min-h-[477px] lg:h-full" aria-labelledby="eventCardTitle"><Image alt="Default alt" src={imgimages_gaiact_event_3_webp} width="400" height="300" class="object-cover w-full" /><div class="flex flex-col justify-start mx-4 lg:mx-6 mb-6"><h4 width="auto" height="auto" class="mt-0" aria-label="Event Title" cssResizer="!flex-shrink mt-6">Plateforme digitale communautaire</h4></div><div class="mx-6"><button width="auto" height="auto" class="px-16 py-4 leading-none text-center whitespace-nowrap bg-lime-500 rounded-3xl text-[#042f2e] max-md:px-5 " cssResizer="!flex-shrink" aria-label="Call to Action Button">Rejoindre</button></div></div></div></div></div></div><section class="main-component overflow-hidden flex flex-col bg-[#102d2e]" aria-labelledby="gaiactBusinessEcoHeader"><div class="px-4 sm:px-6 lg:px-8 max-md:px-5 max-md:max-w-full py-16"><div class="max-w-screen-2xl mx-auto flex flex-wrap flex-col-reverse lg:flex-row"><div class="w-full lg:max-w-[510px] mt-0 lg:mt-20"><Image alt="Business Eco" src={imgimages_gaiact_business_eco_webp} width="400" height="300" class=" z-10 grow w-full " /></div><div class="flex flex-col flex-1"><div class="flex flex-col grow lg:-mt-2.5 text-white w-full"><p width="auto" height="auto" class="text-2xl lg:text-5xl w-full" aria-label="Business Eco Header"><span width="auto" height="auto" class="font-bold text-lime-500">Peut-on allier business</span><span width="auto" height="auto" class="font-bold ml-2">et transition écologique ?</span></p><p width="auto" height="auto" class="mt-0 ml-0 lg:ml-0 text-sm lg:text-xl font-light leading-loose lg:leading-10 max-md:mt-0 max-md:max-w-full flex flex-col items-start" aria-label="Business Eco Description" cssResizer="!flex-shrink"><span width="auto" height="auto">Oui ! Mais pas n’importe comment. Chez Gaïact, nous vous aidons à pérenniser votre business de manière durable en vous connectant à des clients et des partenaires engagés (ou souhaitant s’engager) dans une démarche éco-responsable.</span><span width="auto" height="auto">L’objectif est aujourd’hui de créer des modèles économiques viables grâce au réseau. Parce qu’impulser la transition de votre business, c’est le meilleur moyen d’anticiper les évolutions réglementaires, de société et surtout les aléas liés au changement climatique.</span><span width="auto" height="auto"><span width="auto" height="auto">Devenir membre, c’est </span><span width="auto" height="auto" class="text-lime-500 mx-1">se connecter et collaborer avec des acteurs engagés</span><span width="auto" height="auto">, dans le but de d’assurer la pérennité de votre business sur le long terme.</span></span></p></div></div></div></div><section class="fmain-component flex overflow-hidden flex-col text-white bg-[#102d2e]" aria-labelledby="transitionGoalsTitle"><div class="px-4 sm:px-6 lg:px-8 max-md:px-5 max-md:max-w-full py-12" aria-labelledby="transitionGoalsTitle"><div class="max-w-screen-2xl mx-auto text-center flex flex-col items-center"><Image alt="Transition Goals" src={imgimages_gaiact_transition_goals_webp} width="400" height="300" class="lg:max-w-[1023px] mx-auto w-full" /><div class="mt-16 max-md:mt-10 w-full" aria-label="Transition Goals Title"><h3 width="auto" height="auto" class="text-center text-2xl lg:text-[44px] lg:leading-[60px] flex flex-row justify-center flex-wrap w-full"><span width="auto" height="auto" class="font-bold">Participez à la transition grâce à cdes</span><span width="auto" height="auto" class="font-bold text-lime-500 ml-2">objectifs concrets</span></h3></div><p width="auto" height="auto" class="mt-0 leading-normal lg:leading-10 text-center" aria-label="Description of Transition Goals" cssResizer="!flex-shrink mt-9">Vous aimeriez entamer votre transition sociale et environnementale, mais ignorez par où commencer ? Vous êtes déjà engagé mais avez besoin de renforcer votre modèle économique et de vous faire connaitre ? Vous cherchez à grandir et à changer d’échelle sans polluer ? Que vous soyez chef d’entreprise, indépendant, responsable RSE ou consultant, tout secteur confondu, n’attendez pas pour surfer sur la vague de la transition. Définissez vos objectifs, le réseau vous aide à les concrétiser.</p><button width="auto" height="auto" class="inline-flex overflow-hidden px-12 py-2.5 mt-0 font-bold leading-snug whitespace-nowrap bg-lime-500 rounded-3xl text-[#042f2e] mx-auto max-md:mt-0" aria-label="Participate Button" cssResizer="!flex-shrink mt-16 max-md:mt-10">Participer</button></div></div></section></section></div></section></main><lazy-load><footer><section class="footer-component flex flex-col overflow-hidden bg-[#112c29] text-white relative"><div class="max-md:px-5 max-md:max-w-full px-8 py-8 lg:py-12 md:py-12 sm:px-6 lg:px-8 bg-[#112c29]"><div class="mx-auto max-w-screen-2xl"><div class="flex max-w-full flex-col lg:items-center "><div class="w-full max-w-[390px] md:max-w-full"><div class="items-top flex flex-col justify-between lg:gap-5 md:flex-row"><div class="items-top flex w-full flex-col md:w-[26%] items-start"><div class="flex w-full flex-col items-start"><Image alt="Gaïact logo" src={imgimages_gaiact_logo_webp} width="400" height="300" class="w-[202px] max-w-full" loading="lazy" /></div><div class="flex min-h-[24px] w-36 max-w-full items-end gap-4 mt-10 z-30" role="group" aria-label="Social media links"><a href="#" target="_blank" width="auto" height="auto" class="text-gray-700 transition hover:text-[#AECA0E] dark:text-gray-300" rel="noreferrer" aria-label="Instagram"><Image alt="Instagram icon" src={imgimages_gaiact_instagram_icon_webp} width="400" height="300" class="h-full w-[24px] object-contain" loading="lazy" /></a><a href="#" target="_blank" width="auto" height="auto" class="rounded-[50%] bg-white text-gray-700 transition hover:text-[#AECA0E] dark:text-gray-300" rel="noreferrer" aria-label="LinkedIn"><Image alt="LinkedIn icon" src={imgimages_gaiact_linkedin_icon_webp} width="400" height="300" class="h-full w-[24px] object-contain p-[4px]" loading="lazy" /></a></div></div><div class="flex w-full flex-col align-top md:ml-5 md:w-[42%]"><div class="max-md:mt-4 flex grow flex-col text-base leading-loose text-white md:flex-row"><div class="flex flex-1 flex-col items-start z-30" role="navigation" aria-labelledby="footerGaiactLeftLinksTitle"><h3 width="auto" height="auto" class="sr-only">Liens</h3><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Accueil">Accueil</a><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Gaïact">Gaïact</a><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Contact">Contact</a><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Mentions légales">Mentions légales</a></div><div class="flex flex-1 flex-col items-start z-30" role="navigation" aria-labelledby="footerGaiactRightLinksTitle"><h3 width="auto" height="auto" class="sr-only">Liens</h3><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Évènements">Évènements</a><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Média">Média</a><a href="#" width="auto" height="auto" class="first:mt-0" role="link" aria-label="Devenir membre">Devenir membre</a></div></div></div><div class="max-md:items-start flex w-full flex-col items-center md:ml-5 md:w-[50%] md:items-end lg:items-end z-30"><div class="max-md:mt-4 flex w-full lg:max-w-[242px] flex-col items-start md:items-end text-white"><h2 width="auto" height="auto" class="w-full text-lg">Suivez l&#x27;actualité de Gaïact</h2><div class="mt-6 flex w-full flex-col items-end rounded-none text-sm leading-loose" aria-labelledby="footerGaiactNewsletterTitle"><div class="flex w-full items-center justify-end rounded-lg bg-[#2d4e25] align-middle pl-3"><input name="email" type="email" autoComplete="given-name" placeholder="Adresse e-mail" class="w-full items-end border-none bg-transparent text-white placeholder-white" aria-label="Adresse e-mail" required=""/><button width="auto" height="auto" class="min-w-[40px] min-h-[40px] flex items-center justify-center" cssWrap="flex items-center justify-center" type="submit" aria-label="S&#x27;inscrire à la newsletter"><Image alt="Send icon" src={imgimages_gaiact_send_icon_webp} width="17" height="17" class="w-[17px] align-middle" loading="lazy" /></button></div></div></div></div></div></div><div class="z-20 mt-10 lg:mt-16 min-h-[1px] w-full self-stretch border border-solid border-zinc-300 mb-10"></div><div width="auto" height="auto" class=" text-base mt-0 pt-0 text-white leading-loose lg:leading-snug z-30" cssResizer="z-30 "><span width="auto" height="auto">© <!-- -->2025<!-- --> GAÏACT - Site web créé par la société GreenWeb. L’ensemble des données est stocké en France par</span><a href="#" width="auto" height="auto" class="underline mx-1" aria-label="Digital Forest">Digital Forest</a><span width="auto" height="auto">, hébergeur éco-responsable</span></div><div class="absolute z-0 -left-8 md:left-[30px] lg:left-[120px] bottom-0"><Image alt="Footer background left" src={imgimages_gaiact_left_footer_bg_webp} width="400" height="300" class="h-[70px] md:h-[122px] lg:h-[198px] w-auto" loading="lazy" /></div><div class="absolute right-0 z-0 bottom-0 top-24px"><Image alt="Footer background right" src={imgimages_gaiact_right_footer_bg_webp} width="400" height="300" class="h-[102px] md:h-[170px] lg:h-[230px] w-auto" loading="lazy" /></div></div></div></div></section></footer></lazy-load> </body>
</html>
